# 몽키 패칭
- 객체의 메서드를 선언시점이 아닌 사용시점에 확장하는 것을 몽키 패치라고 합니다.

import할 때 몽키패칭 주의하세요.
- 동적으로 추가 되서 늘어난다(변수, 메서드 다 .. ) 이게 바로 몽키패칭
- slot을 사용하면 slot에 정의되어 있는 애들만 사용할 수 있다. (몽키패칭 방지)

In [53]:
import matplotlib

In [54]:
len(dir(matplotlib))

165

In [55]:
import matplotlib.pyplot as plt

In [56]:
len(dir(matplotlib))
# 왜 늘었냐? plt를 실행하면서 . 쓸 수 있는게 늘어났다. 즉 몽키 패칭이 일어났다.
# slot은 몽키패칭 조절하기위해 ,  slot에 들어가 있는 친구만 추가 삭제할수 있다.

165

# print를 사용하는 경우와 안 하는 경우
- \_\_repr__ : raw format, escape 자동 생성 (개발자들이 선호하는 포맷)
- \_\_str__ : formatting

In [57]:
class B:
    def __repr__(self):
        return '파이썬'
    def __str__(self):
        return '공부중'

In [58]:
b = B()

In [59]:
b

파이썬

In [60]:
a = r'asdf\n'
a

'asdf\\n'

In [61]:
print(a)

asdf\n

In [62]:
a = 'asdf\n'
a

'asdf\n'

In [63]:
print(a)

asdf

In [64]:
print(b)

공부중

# \_\_getattr__
- a 객체 내에 없는 변수인 var를 호출하면 자동으로   \_\_getattr__()을 실행한다

In [65]:
class X:
    def __getattr__(self,attr):
        return '파이썬프로젝트'

In [66]:
a= X()

In [67]:
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [68]:
a.a

'파이썬프로젝트'

In [69]:
a.v

'파이썬프로젝트'

In [70]:
class X:
    def __getattr__(self,attr):
        if attr == 'a':
            return '파이썬'
        return '공부중'

In [71]:
a = X()

In [72]:
a.a

'파이썬'

In [73]:
a.b

'공부중'

In [74]:
a = 1.0
a.hex()

'0x1.0000000000000p+0'

In [75]:
getattr(a, 'hex')()

'0x1.0000000000000p+0'

In [76]:
a.__getattribute__('hex')() # .으로 탐색했을 때 사용할 수 있는것

'0x1.0000000000000p+0'

In [77]:
try:
    a = 1/0
except:
    a = 2/0

ZeroDivisionError: division by zero

# 덕타이핑 예)
- \_\_getitem__이 있으면 iterable로 사용할 수 있습니다.
- iterable을 상속하지 않고도 iterable로 사용할 수 있습니다.

In [78]:
import seaborn as sns

In [79]:
tips = sns.load_dataset('tips')

In [80]:
dir(tips)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [81]:
'__getitem__' in dir(tips)

True

In [82]:
for i in tips.iterrows():
    print(i)

(0, total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object)
(1, total_bill     10.34
tip             1.66
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 1, dtype: object)
(2, total_bill     21.01
tip              3.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 2, dtype: object)
(3, total_bill     23.68
tip             3.31
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 3, dtype: object)
(4, total_bill     24.59
tip             3.61
sex           Female
smoker            No
day              Sun
time          Dinner
size               4
Name: 4, dtype: object)
(5, total_bill     25.29
tip             4.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 5, dtype: object)
(6, total_bill      8.77
tip                2
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 6, dtype: object)
(7, total_bill     26.88
tip             3.12
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 7, dtype: object)
(8, total_bill     15.04
tip             1.96
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 8, dtype: object)
(9, total_bill     14.78
tip             3.23
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 9, dtype: object)
(10, total_bill     10.27
tip             1.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 10, dtype: object)
(11, total_bill     35.26
tip                5
sex           Female
smoker            No
day              Sun
time          Dinner
size               4
Name: 11, dtype: object)
(12, total_bill     15.42
tip             1.57
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 12, dtype: object)
(13, total_bill     18.43
tip                3
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 13, dtype: object)
(14, total_bill     14.83
tip             3.02
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 14, dtype: object)
(15, total_bill     21.58
tip             3.92
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 15, dtype: object)
(16, total_bill     10.33
tip             1.67
sex           Female
smoker            No
day              Sun
time          Dinner
size               3
Name: 16, dtype: object)
(17, total_bill     16.29
tip             3.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 17, dtype: object)
(18, total_bill     16.97
tip              3.5
sex           Female
smoker            No
day              Sun
time          Dinner
size               3
Name: 18, dtype: object)
(19, total_bill     20.65
tip             3.35
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 19, dtype: object)
(20, total_bill     17.92
tip             4.08
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 20, dtype: object)
(21, total_bill     20.29
tip             2.75
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 21, dtype: object)
(22, total_bill     15.77
tip             2.23
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 22, dtype: object)
(23, total_bill     39.42
tip             7.58
sex             Male
smoker            No
day              Sat
time          Dinner
size               4
Name: 23, dtype: object)
(24, total_bill     19.82
tip             3.18
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 24, dtype: object)
(25, total_bill     17.81
tip             2.34
sex             Male
smoker            No
day              Sat
time          Dinner
size               4
Name: 25, dtype: object)
(26, total_bill     13.37
tip                2
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 26, dtype: object)
(27, total_bill     12.69
tip                2
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 27, dtype: object)
(28, total_bill      21.7
tip              4.3
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 28, dtype: object)
(29, total_bill     19.65
tip                3
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 29, dtype: object)
(30, total_bill      9.55
tip             1.45
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 30, dtype: object)
(31, total_bill     18.35
tip              2.5
sex             Male
smoker            No
day              Sat
time          Dinner
size               4
Name: 31, dtype: object)
(32, total_bill     15.06
tip                3
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 32, dtype: object)
(33, total_bill     20.69
tip             2.45
sex           Female
smoker            No
day              Sat
time          Dinner
size               4
Name: 33, dtype: object)
(34, total_bill     17.78
tip             3.27
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 34, dtype: object)
(35, total_bill     24.06
tip              3.6
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 35, dtype: object)
(36, total_bill     16.31
tip                2
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 36, dtype: object)
(37, total_bill     16.93
tip             3.07
sex           Female
smoker            No
day              Sat
time          Dinner
size               3
Name: 37, dtype: object)
(38, total_bill     18.69
tip             2.31
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 38, dtype: object)
(39, total_bill     31.27
tip                5
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 39, dtype: object)
(40, total_bill     16.04
tip             2.24
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 40, dtype: object)
(41, total_bill     17.46
tip             2.54
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 41, dtype: object)
(42, total_bill     13.94
tip             3.06
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 42, dtype: object)
(43, total_bill      9.68
tip             1.32
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 43, dtype: object)
(44, total_bill      30.4
tip              5.6
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 44, dtype: object)
(45, total_bill     18.29
tip                3
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 45, dtype: object)
(46, total_bill     22.23
tip                5
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 46, dtype: object)
(47, total_bill      32.4
tip                6
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 47, dtype: object)
(48, total_bill     28.55
tip             2.05
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 48, dtype: object)
(49, total_bill     18.04
tip                3
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 49, dtype: object)
(50, total_bill     12.54
tip              2.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 50, dtype: object)
(51, total_bill     10.29
tip              2.6
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 51, dtype: object)
(52, total_bill     34.81
tip              5.2
sex           Female
smoker            No
day              Sun
time          Dinner
size               4
Name: 52, dtype: object)
(53, total_bill      9.94
tip             1.56
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 53, dtype: object)
(54, total_bill     25.56
tip             4.34
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 54, dtype: object)
(55, total_bill     19.49
tip             3.51
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 55, dtype: object)
(56, total_bill     38.01
tip                3
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               4
Name: 56, dtype: object)
(57, total_bill     26.41
tip              1.5
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 57, dtype: object)
(58, total_bill     11.24
tip             1.76
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 58, dtype: object)
(59, total_bill     48.27
tip             6.73
sex             Male
smoker            No
day              Sat
time          Dinner
size               4
Name: 59, dtype: object)
(60, total_bill     20.29
tip             3.21
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 60, dtype: object)
(61, total_bill     13.81
tip                2
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 61, dtype: object)
(62, total_bill     11.02
tip             1.98
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 62, dtype: object)
(63, total_bill     18.29
tip             3.76
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               4
Name: 63, dtype: object)
(64, total_bill     17.59
tip             2.64
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 64, dtype: object)
(65, total_bill     20.08
tip             3.15
sex             Male
smoker            No
day              Sat
time          Dinner
size               3
Name: 65, dtype: object)
(66, total_bill     16.45
tip             2.47
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 66, dtype: object)
(67, total_bill      3.07
tip                1
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               1
Name: 67, dtype: object)
(68, total_bill     20.23
tip             2.01
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 68, dtype: object)
(69, total_bill     15.01
tip             2.09
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 69, dtype: object)
(70, total_bill     12.02
tip             1.97
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 70, dtype: object)
(71, total_bill     17.07
tip                3
sex           Female
smoker            No
day              Sat
time          Dinner
size               3
Name: 71, dtype: object)
(72, total_bill     26.86
tip             3.14
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 72, dtype: object)
(73, total_bill     25.28
tip                5
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 73, dtype: object)
(74, total_bill     14.73
tip              2.2
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 74, dtype: object)
(75, total_bill     10.51
tip             1.25
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 75, dtype: object)
(76, total_bill     17.92
tip             3.08
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 76, dtype: object)
(77, total_bill     27.2
tip               4
sex            Male
smoker           No
day            Thur
time          Lunch
size              4
Name: 77, dtype: object)
(78, total_bill    22.76
tip               3
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 78, dtype: object)
(79, total_bill    17.29
tip            2.71
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 79, dtype: object)
(80, total_bill    19.44
tip               3
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 80, dtype: object)
(81, total_bill    16.66
tip             3.4
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 81, dtype: object)
(82, total_bill     10.07
tip             1.83
sex           Female
smoker            No
day             Thur
time           Lunch
size               1
Name: 82, dtype: object)
(83, total_bill    32.68
tip               5
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 83, dtype: object)
(84, total_bill    15.98
tip            2.03
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 84, dtype: object)
(85, total_bill     34.83
tip             5.17
sex           Female
smoker            No
day             Thur
time           Lunch
size               4
Name: 85, dtype: object)
(86, total_bill    13.03
tip               2
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 86, dtype: object)
(87, total_bill    18.28
tip               4
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 87, dtype: object)
(88, total_bill    24.71
tip            5.85
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 88, dtype: object)
(89, total_bill    21.16
tip               3
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 89, dtype: object)
(90, total_bill     28.97
tip                3
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 90, dtype: object)
(91, total_bill     22.49
tip              3.5
sex             Male
smoker            No
day              Fri
time          Dinner
size               2
Name: 91, dtype: object)
(92, total_bill      5.75
tip                1
sex           Female
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 92, dtype: object)
(93, total_bill     16.32
tip              4.3
sex           Female
smoker           Yes
day              Fri
time          Dinner
size               2

Name: 93, dtype: object)
(94, total_bill     22.75
tip             3.25
sex           Female
smoker            No
day              Fri
time          Dinner
size               2
Name: 94, dtype: object)
(95, total_bill     40.17
tip             4.73
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               4
Name: 95, dtype: object)
(96, total_bill     27.28
tip                4
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 96, dtype: object)
(97, total_bill     12.03
tip              1.5
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 97, dtype: object)
(98, total_bill     21.01
tip                3
sex             Male
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 98, dtype: object)
(99, total_bill     12.46
tip              1.5
sex             Male
smoker            No
day              Fri
time          Dinner
size               2
Name: 99, dtype: object)
(100, total_bill     11.35
tip              2.5
sex           Female
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 100, dtype: object)
(101, total_bill     15.38
tip                3
sex           Female
smoker           Yes
day              Fri
time          Dinner
size               2
Name: 101, dtype: object)
(102, total_bill      44.3
tip              2.5
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               3
Name: 102, dtype: object)
(103, total_bill     22.42
tip             3.48
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 103, dtype: object)
(104, total_bill     20.92
tip             4.08
sex           Female
smoker            No
day              Sat
time          Dinner
size               2
Name: 104, dtype: object)
(105, total_bill     15.36
tip             1.64
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 105, dtype: object)
(106, total_bill     20.49
tip             4.06
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 106, dtype: object)
(107, total_bill     25.21
tip             4.29
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 107, dtype: object)
(108, total_bill     18.24
tip             3.76
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 108, dtype: object)
(109, total_bill     14.31
tip                4
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 109, dtype: object)
(110, total_bill        14
tip                3
sex             Male
smoker            No
day              Sat
time          Dinner
size               2
Name: 110, dtype: object)
(111, total_bill      7.25
tip                1
sex           Female
smoker            No
day              Sat
time          Dinner
size               1
Name: 111, dtype: object)
(112, total_bill     38.07
tip                4
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 112, dtype: object)
(113, total_bill     23.95
tip             2.55
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 113, dtype: object)
(114, total_bill     25.71
tip                4
sex           Female
smoker            No
day              Sun
time          Dinner
size               3
Name: 114, dtype: object)
(115, total_bill     17.31
tip              3.5
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 115, dtype: object)
(116, total_bill     29.93
tip             5.07
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 116, dtype: object)
(117, total_bill     10.65
tip              1.5
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 117, dtype: object)
(118, total_bill     12.43
tip              1.8
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 118, dtype: object)
(119, total_bill     24.08
tip             2.92
sex           Female
smoker            No
day             Thur
time           Lunch
size               4
Name: 119, dtype: object)
(120, total_bill    11.69
tip            2.31
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 120, dtype: object)
(121, total_bill     13.42
tip             1.68
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 121, dtype: object)
(122, total_bill    14.26
tip             2.5
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 122, dtype: object)
(123, total_bill    15.95
tip               2
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 123, dtype: object)
(124, total_bill     12.48
tip             2.52
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 124, dtype: object)
(125, total_bill      29.8
tip              4.2
sex           Female
smoker            No
day             Thur
time           Lunch
size               6
Name: 125, dtype: object)
(126, total_bill     8.52
tip            1.48
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 126, dtype: object)
(127, total_bill     14.52
tip                2
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 127, dtype: object)
(128, total_bill     11.38
tip                2
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 128, dtype: object)
(129, total_bill    22.82
tip            2.18
sex            Male
smoker           No
day            Thur
time          Lunch
size              3
Name: 129, dtype: object)
(130, total_bill    19.08
tip             1.5
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 130, dtype: object)
(131, total_bill     20.27
tip             2.83
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 131, dtype: object)
(132, total_bill     11.17
tip              1.5
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 132, dtype: object)
(133, total_bill     12.26
tip                2
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 133, dtype: object)
(134, total_bill     18.26
tip             3.25
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 134, dtype: object)
(135, total_bill      8.51
tip             1.25
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 135, dtype: object)
(136, total_bill     10.33
tip                2
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 136, dtype: object)
(137, total_bill     14.15
tip                2
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 137, dtype: object)
(138, total_bill       16
tip               2
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 138, dtype: object)
(139, total_bill     13.16
tip             2.75
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 139, dtype: object)
(140, total_bill     17.47
tip              3.5
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 140, dtype: object)
(141, total_bill     34.3
tip             6.7
sex            Male
smoker           No
day            Thur
time          Lunch
size              6
Name: 141, dtype: object)
(142, total_bill    41.19
tip               5
sex            Male
smoker           No
day            Thur
time          Lunch
size              5
Name: 142, dtype: object)
(143, total_bill     27.05
tip                5
sex           Female
smoker            No
day             Thur
time           Lunch
size               6
Name: 143, dtype: object)
(144, total_bill     16.43
tip              2.3
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 144, dtype: object)
(145, total_bill      8.35
tip              1.5
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 145, dtype: object)
(146, total_bill     18.64
tip             1.36
sex           Female
smoker            No
day             Thur
time           Lunch
size               3
Name: 146, dtype: object)
(147, total_bill     11.87
tip             1.63
sex           Female
smoker            No
day             Thur
time           Lunch
size               2
Name: 147, dtype: object)
(148, total_bill     9.78
tip            1.73
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 148, dtype: object)
(149, total_bill     7.51
tip               2
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 149, dtype: object)
(150, total_bill     14.07
tip              2.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 150, dtype: object)
(151, total_bill     13.13
tip                2
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 151, dtype: object)
(152, total_bill     17.26
tip             2.74
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 152, dtype: object)
(153, total_bill     24.55
tip                2
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 153, dtype: object)
(154, total_bill     19.77
tip                2
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 154, dtype: object)
(155, total_bill     29.85
tip             5.14
sex           Female
smoker            No
day              Sun
time          Dinner
size               5
Name: 155, dtype: object)
(156, total_bill     48.17
tip                5
sex             Male
smoker            No
day              Sun
time          Dinner
size               6
Name: 156, dtype: object)
(157, total_bill        25
tip             3.75
sex           Female
smoker            No
day              Sun
time          Dinner
size               4
Name: 157, dtype: object)
(158, total_bill     13.39
tip             2.61
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 158, dtype: object)
(159, total_bill     16.49
tip                2
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 159, dtype: object)
(160, total_bill      21.5
tip              3.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 160, dtype: object)
(161, total_bill     12.66
tip              2.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 161, dtype: object)
(162, total_bill     16.21
tip                2
sex           Female
smoker            No
day              Sun
time          Dinner
size               3
Name: 162, dtype: object)
(163, total_bill     13.81
tip                2
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 163, dtype: object)
(164, total_bill     17.51
tip                3
sex           Female
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 164, dtype: object)
(165, total_bill     24.52
tip             3.48
sex             Male
smoker            No
day              Sun
time          Dinner
size               3
Name: 165, dtype: object)
(166, total_bill     20.76
tip             2.24
sex             Male
smoker            No
day              Sun
time          Dinner
size               2
Name: 166, dtype: object)
(167, total_bill     31.71
tip              4.5
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 167, dtype: object)
(168, total_bill     10.59
tip             1.61
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 168, dtype: object)
(169, total_bill     10.63
tip                2
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 169, dtype: object)
(170, total_bill     50.81
tip               10
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               3
Name: 170, dtype: object)
(171, total_bill     15.81
tip             3.16
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               2
Name: 171, dtype: object)
(172, total_bill      7.25
tip             5.15
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 172, dtype: object)
(173, total_bill     31.85
tip             3.18
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 173, dtype: object)
(174, total_bill     16.82
tip                4
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 174, dtype: object)
(175, total_bill      32.9
tip             3.11
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 175, dtype: object)
(176, total_bill     17.89
tip                2
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 176, dtype: object)
(177, total_bill     14.48
tip                2
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 177, dtype: object)
(178, total_bill       9.6
tip                4
sex           Female
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 178, dtype: object)
(179, total_bill     34.63
tip             3.55
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 179, dtype: object)
(180, total_bill     34.65
tip             3.68
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               4
Name: 180, dtype: object)
(181, total_bill     23.33
tip             5.65
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 181, dtype: object)
(182, total_bill     45.35
tip              3.5
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               3
Name: 182, dtype: object)
(183, total_bill     23.17
tip              6.5
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               4
Name: 183, dtype: object)
(184, total_bill     40.55
tip                3
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 184, dtype: object)
(185, total_bill     20.69
tip                5
sex             Male
smoker            No
day              Sun
time          Dinner
size               5
Name: 185, dtype: object)
(186, total_bill      20.9
tip              3.5
sex           Female
smoker           Yes
day              Sun
time          Dinner
size               3
Name: 186, dtype: object)
(187, total_bill     30.46
tip                2
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               5
Name: 187, dtype: object)
(188, total_bill     18.15
tip              3.5
sex           Female
smoker           Yes
day              Sun
time          Dinner
size               3
Name: 188, dtype: object)
(189, total_bill      23.1
tip                4
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               3
Name: 189, dtype: object)
(190, total_bill     15.69
tip              1.5
sex             Male
smoker           Yes
day              Sun
time          Dinner
size               2
Name: 190, dtype: object)
(191, total_bill     19.81
tip             4.19
sex           Female
smoker           Yes
day             Thur
time           Lunch
size               2
Name: 191, dtype: object)
(192, total_bill    28.44
tip            2.56
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 192, dtype: object)
(193, total_bill    15.48
tip            2.02
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 193, dtype: object)
(194, total_bill    16.58
tip               4
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 194, dtype: object)
(195, total_bill     7.56
tip            1.44
sex            Male
smoker           No
day            Thur
time          Lunch
size              2
Name: 195, dtype: object)
(196, total_bill    10.34
tip               2
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 196, dtype: object)
(197, total_bill     43.11
tip                5
sex           Female
smoker           Yes
day             Thur
time           Lunch
size               4
Name: 197, dtype: object)
(198, total_bill        13
tip                2
sex           Female
smoker           Yes
day             Thur
time           Lunch
size               2
Name: 198, dtype: object)
(199, total_bill    13.51
tip               2
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              2
Name: 199, dtype: object)
(200, total_bill    18.71
tip               4
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              3
Name: 200, dtype: object)
(201, total_bill     12.74
tip             2.01
sex           Female
smoker           Yes
day             Thur
time           Lunch
size               2
Name: 201, dtype: object)
(202, total_bill        13
tip                2
sex           Female
smoker           Yes
day             Thur
time           Lunch
size               2
Name: 202, dtype: object)
(203, total_bill      16.4
tip              2.5
sex           Female
smoker           Yes
day             Thur
time           Lunch
size               2
Name: 203, dtype: object)
(204, total_bill    20.53
tip               4
sex            Male
smoker          Yes
day            Thur
time          Lunch
size              4
Name: 204, dtype: object)
(205, total_bill     16.47
tip             3.23
sex           Female
smoker           Yes
day             Thur
time           Lunch
size               3
Name: 205, dtype: object)
(206, total_bill     26.59
tip             3.41
sex             Male